// Firebase storage rule that allows anon users to upload any file, but delete no files
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
  // allow admin to do anything
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth.uid == 'admin';
    }
  }
}